@model string
<html>
<head>
    <meta http-equiv="refresh" content="5;URL='@Model'" />
</head>
<body>
    Hold on, I'm redirecting you to Stack Overflow to authorize my access.
</body>
</html>